@charset "UTF-8";
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 576px;
  height: 100%;
  background-color: #404040;
}
.main-content.-member {
  background-color: #ebeded;
}

.scroll-content {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 62px;
}
.scroll-content::-webkit-scrollbar {
  display: none;
}

.fa-ellipsis-h.more {
  color: #5f80f5;
}

body {
  height: 100vh;
  background-image: none;
  background-color: #404040;
}

.container-fluid {
  max-width: 1500px;
}

a {
  text-decoration: none;
}

.color-lbp {
  color: #54e5b5;
}

.color-red {
  color: #e02323 !important;
}

.color-green {
  color: #54e5b5 !important;
}

.color-gray {
  color: #c3c3c3 !important;
}

.bg-dark-purple {
  background: #5f80f5 !important;
}

.form-group {
  max-width: 350px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.form-group label {
  font-weight: 900;
}
.form-group input {
  background: #5f80f5;
  border: solid 1px #5f80f5;
  color: #eceef8;
  padding: 3px 5px;
  border-radius: 5px;
}
.form-group input::-moz-placeholder {
  color: #eceef8;
  font-weight: 300;
  font-size: 13px;
}
.form-group input::placeholder {
  color: #eceef8;
  font-weight: 300;
  font-size: 13px;
}
.form-group input:focus {
  border: solid 1px #5f80f5;
  outline: none;
}
.form-group input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #5f80f5;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  border-color: #5f80f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group input[type='checkbox']:checked {
  border-color: #5f80f5;
}
.form-group input[type='checkbox']:checked::after {
  position: absolute;
  font-weight: 900;
  content: '✓';
  font-size: 18px;
  color: #585858;
}
.form-group .password {
  color: #484b61;
  font-weight: 500;
}

.modal .form-group {
  max-width: 100%;
}
.modal .form-group label {
  color: #585858;
}
.modal .form-group input {
  padding: 8px;
  color: #585858;
  background: #fafafa;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #d4d4d4;
}
.modal .form-group input::-moz-placeholder {
  color: #c3c3c3;
}
.modal .form-group input::placeholder {
  color: #c3c3c3;
}

.back-btn {
  cursor: pointer;
  padding: 12px 0px;
  background: #146f50;
  color: white;
  width: 100px;
  border: none;
  transition: 0.3s;
}
.back-btn:hover {
  color: white;
}

.dropdown.filter {
  width: 100%;
}
.dropdown.filter button.dropdown-toggle {
  background: #5f80f5;
  color: #eceef8;
  width: 100%;
}
.dropdown.filter-menu {
  width: 100%;
}

.light-purple-bg {
  background: #eceef8;
}

@media screen and (min-width: 575px) {
  body {
    background-image: url('../images/Bet365_bg_2_b.jpeg');
    background-size: cover;
    background-position: center;
  }
  .dropdown.filter {
    max-width: 300px;
  }
}
.pagination {
  margin-bottom: 0px;
}
.pagination * {
  background: none;
  color: #ffffff;
  border: none;
}
.pagination .page-item {
  font-size: 18px;
}
.pagination .page-item:hover .page-link {
  color: #116e50;
  font-weight: 600;
  background: none;
  text-decoration: underline;
}
.pagination .page-item.active {
  color: #26ffbe;
  font-weight: 600;
}
.pagination .page-item.active .page-link {
  background: none;
  border: none;
  color: #26ffbe;
  text-decoration: underline;
}

.page-btn {
  display: block;
  width: 8px;
  height: 14px;
  margin: 0px 8px;
  background-image: url('../images/icon-arrow_right.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.page-btn.-left {
  background-image: url('../images/icon-arrow_left.png');
}
.page-btn.-right {
  background-image: url('../images/icon-arrow_right.png');
}
.page-btn__icon {
  display: block;
  width: 100%;
}

.board-wrap {
  background: white;
  margin: auto;
}
.board-text {
  height: 250px;
  overflow: auto;
}

.breadcrumb-item a {
  color: #484b61;
}
.breadcrumb-item.active {
  font-weight: 600 !important;
  color: #5f80f5 !important;
}

@media screen and (min-width: 768px) {
  .float-top-end {
    position: absolute;
    right: 20px;
    transform: translateY(-70px);
    max-width: 200px !important;
  }
}
@media screen and (min-width: 575px) {
  .sm-dropdown {
    max-width: 200px;
    margin-left: auto;
  }
  .sm-dropdown-menu {
    max-width: 200px;
  }
}
.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8901960784);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.loading img {
  width: 80px;
  position: relative;
  z-index: 999;
}
.loading::after {
  content: '';
  width: 90px;
  height: 90px;
  border-radius: 50px;
  position: absolute;
  display: block;
  background: #374874;
  box-shadow: 0px 2px 0px 1px #8cbbf8;
  animation: rotate 1.5s linear infinite;
}

.rule {
  color: #e4e4e4;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.carousel {
  position: relative;
}
.carousel-indicators {
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
}
.carousel-indicators button {
  border-radius: 10px;
  width: 10px !important;
  height: 10px !important;
  background: #5f80f5 !important;
  border-bottom: solid 0px !important;
  border-top: solid 0px !important;
  opacity: 1 !important;
}
.carousel-indicators button.active {
  background: #eceef8 !important;
  border: solid 3px #5f80f5;
  border-bottom: solid 3px #5f80f5 !important;
  border-top: solid 3px #5f80f5 !important;
}
.carousel-btns {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: white;
  font-size: 30px;
}
.carousel-btns .fa-angle-left,
.carousel-btns .fa-angle-right {
  padding: 0px 5px;
  background: rgba(255, 255, 255, 0.3764705882);
}
.carousel-btns .fa-angle-left {
  margin: 0px 5px 15px 0px;
}
.carousel-btns .fa-angle-right {
  margin: 0px 15px 15px 5px;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 998;
  padding: 0px !important;
  width: 100%;
}
.header .text-end {
  flex-shrink: 0;
}
.header .navbar-toggler {
  border: none;
  width: 40px;
  z-index: 999 !important;
}
.header-logo {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999 !important;
  display: flex;
  align-items: center;
  margin-right: 0px;
  color: #5f80f5;
}
.header-logo img {
  width: auto;
  height: 70%;
}
.header-info {
  color: #5f80f5;
  font-size: 13px;
}
.header .nav-item .nav-link.active {
  color: #404040;
}
.header .nav-item .nav-link {
  color: #404040;
  font-size: 15px;
  font-weight: 500;
}
.header .nav-item .nav-link:hover {
  color: #404040;
}
.header-login {
  right: 0px;
  color: #e0e2e1;
  line-height: 17px;
  font-size: 16px;
  font-weight: 500;
}
.header-login:hover {
  color: #5894ea;
}

.header-wrap {
  z-index: 998;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 62px;
  background: #116e50;
  box-shadow: 7px 5px 7px rgba(95, 128, 245, 0.1);
}
.header-wrap .navbar-brand {
  padding: 0px;
}

.offcanvas-backdrop {
  top: 62px;
}

.offcanvas {
  position: absolute;
  background: #383838;
  max-width: 150px;
  top: 62px;
}
.offcanvas * {
  color: #eceef8;
}
.offcanvas .nav-item ~ .nav-item {
  border-top: solid 1px #b5b5b5;
}
.offcanvas .nav-item:hover,
.offcanvas .nav-item .nav-link.active {
  color: #ffdf1b !important;
}
.offcanvas .nav-link {
  color: #c3c3c3;
  padding: 10px 0px !important;
  text-align: center !important;
}
.offcanvas .nav-link:hover {
  color: #c3c3c3;
}

.navbar {
  flex-wrap: nowrap;
}

.news-title {
  font-size: 50px;
  color: #e4e4e4;
  border-bottom: solid 1px #e4e4e4;
  font-weight: 700;
}
.news-title .more {
  cursor: pointer;
  font-size: 22px;
}
.news-text {
  color: #e4e4e4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.news-carousel-btns {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.news-carousel-btns .fa-angle-left,
.news-carousel-btns .fa-angle-right {
  padding: 0px 5px;
  background: #116e50;
}
.news-carousel-btns .fa-angle-left:hover,
.news-carousel-btns .fa-angle-right:hover {
  opacity: 0.7;
}

.core-functional {
  display: flex;
  padding: 12px 16px;
  position: relative;
  border-top: 1px solid #116e50;
  border-bottom: 1px solid #116e50;
}
.core-functional__lf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.core-functional__rt {
  margin-left: auto;
}
.core-functional .user-info {
  display: flex;
  align-items: flex-start;
  color: #e4e4e4;
}
.core-functional .user-info__id {
  font-size: 14px;
  font-weight: 600;
  padding-right: 8px;
  line-height: 24px;
}
.core-functional .user-info__rank {
  min-height: 24px;
  background: #116e50;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding: 0 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.core-functional .user-wallet {
  font-size: 16px;
  color: white;
}
.core-functional .user-wallet .text {
  font-weight: 600;
}
.core-functional .user-wallet .icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-left: -8px;
  -webkit-mask-image: url('../images/icon-calendar_search.png');
  mask-image: url('../images/icon-calendar_search.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: white;
}
.core-functional .user-wallet .text {
  margin: 0;
  color: inherit;
  font-weight: 500;
}
.core-functional .user-wallet .text__symbol {
  padding: 0 5px;
}
.core-functional .functional-list {
  display: flex;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.core-functional .functional-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 16px;
}
.core-functional .functional-list__item .item-icon {
  height: 36px;
  margin-top: 4px;
}
.core-functional .functional-list__item .item-icon__img {
  height: 100%;
  display: block;
  vertical-align: middle;
}
.core-functional .functional-list__item .item-text {
  font-size: 12px;
  color: white;
  margin: 0;
  font-weight: 600;
  line-height: 12px;
  padding-top: 8px;
}

.games {
  background-color: #4e4e4e;
  background-size: cover;
}
.games-title {
  color: #eceef8;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  font-size: 25px;
}
.games-cards {
  display: flex;
}
.games-card {
  max-width: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(138, 138, 138, 0.8);
  box-sizing: border-box;
}
.games-card__name {
  color: #484b61;
}
.games-card__name .name {
  font-size: 18px;
  font-weight: 800;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.games-card__team {
  color: #5f80f5;
}
.games-card__team .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.games-card__btn {
  border: none;
  background: #5f80f5;
  color: white;
  letter-spacing: 1px;
  width: 200px;
}
.games-card__btn:hover {
  color: white;
}

.hot-games {
  background-color: #585858;
  border-bottom: 1px solid #666;
}
.hot-games__title {
  font-size: 10px;
  color: #f0f0f0;
  padding-bottom: 8px;
}
.hot-games__scroll-content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.hot-games .scroll-x {
  display: inline-block;
  float: none;
}
.hot-games .game-list {
  white-space: nowrap;
  font-size: 0;
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  transition: left 0.35s;
}
.hot-games .game-list__item {
  min-width: 250px;
  line-height: 0;
  font-size: 0;
  vertical-align: top;
  position: relative;
  display: flex;
  flex: 1 0 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.hot-games .game-list__item:after {
  content: ' ';
  border-right: 1px solid #666;
  height: calc(100% - 20px);
  position: absolute;
  right: 0;
  top: 10px;
}
.hot-games .game-list__item:last-child:after {
  border-right: 0px;
}
.hot-games .game-list .item-content {
  width: 100%;
}
.hot-games .game-list .item-inner-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.hot-games .game-list .game-detail {
  display: flex;
  position: relative;
  border-top: 0;
  width: 100%;
}
.hot-games .game-list .detail-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hot-games .game-list .detail-info {
  min-height: 13px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #f0f0f0;
  margin: 5px 0 2px;
  flex-direction: row;
}
.hot-games .game-list .detail-info__text {
  font-size: 12px;
  color: #d4d4d4;
  padding-left: 4px;
}
.hot-games .game-list .detail-info__text:first-child {
  padding-left: 0px;
}
.hot-games .game-list .detail-team {
  display: flex;
  position: relative;
  flex: 1 0 auto;
  max-width: 100%;
  font-size: 13px;
  color: #f0f0f0;
  margin-top: 9px;
}
.hot-games .game-list .detail-team__team {
  flex-basis: 50%;
  flex-direction: column;
  align-items: center;
  min-height: 20px;
  overflow: hidden;
  font-size: 13px;
  color: #f0f0f0;
  line-height: 17px;
}
.hot-games .game-list .detail-team .team-kit {
  display: flex;
  height: 30px;
  min-width: 30px;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
}
.hot-games .game-list .detail-team .team-kit__img {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  flex: 1 1 0;
}
.hot-games .game-list .detail-team .team-kit .team-img {
  display: block;
  width: 100%;
}
.hot-games .game-list .detail-team .team-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 8px;
  text-align: center;
}
.hot-games .game-list .detail-team__vs {
  position: absolute;
  left: 50%;
  top: 9px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #e4e4e4;
  line-height: 17px;
}
.hot-games .game-list .game-odds {
  display: flex;
  width: 100%;
  border: 0;
  padding-bottom: 10px;
}
.hot-games .game-list .game-odds__vs {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #e4e4e4;
}
.hot-games .game-list .game-odds__odd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 45px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1;
  padding: 0 10px;
  border-right: 1px solid #585858;
}
.hot-games .game-list .game-odds .odd-title {
  color: #f0f0f0;
  font-weight: 600;
  padding-bottom: 8px;
}
.hot-games .game-list .game-odds .odd-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ddd;
  flex: 0 0 auto;
  padding-left: 4px;
}
.hot-games .game-list .game-odds .odd-text.-highlight {
  color: #ffdf1b;
}
.hot-games .game-list .game-odds .odd-text:first-child {
  padding-left: 0;
}
.hot-games .game-list.-market .detail-info__text {
  font-size: 18px;
  font-weight: 600;
}
.hot-games .game-list.-market .game-detail {
  padding-bottom: 12px;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 16px;
}
.hot-games .game-list.-market .team-kit {
  height: 44px;
}
.hot-games .game-list.-market .team-kit__img {
  width: 44px;
  height: auto;
  max-width: 44px;
  max-height: unset;
}
.hot-games .game-list.-market .game-odds__odd {
  flex-direction: column;
}
.hot-games .game-list.-market .odd-text {
  font-size: 14px;
}
.hot-games .game-list.-market .odd-text.-highlight {
  font-size: 16px;
}

.hot-games-list.-market {
  padding: 16px;
}
.hot-games-list.-market .hot-games {
  margin-bottom: 16px;
  border-radius: 8px;
}

.wallet {
  background: #383838;
  border-top: 1px solid #116e50;
  border-bottom: 1px solid #116e50;
  justify-content: space-between;
}
.wallet > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.wallet-balance {
  border-right: solid 1px #585858;
}
.wallet-balance a {
  color: #e4e4e4;
}
.wallet-withdrawal img {
  width: 35px;
}
.wallet-withdrawal a {
  color: #e4e4e4;
}

.slick-track {
  padding: 10px 0px;
  display: flex !important;
  justify-content: space-around;
}

.footer {
  color: #5f80f5;
  font-size: 15px;
}
.footer-link {
  color: #5f80f5;
}

.side-menu {
  background: white;
  width: 65px;
  border-radius: 50px 50px 8px 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
  top: 23%;
  right: 10px;
}
.side-menu__btn {
  padding: 3px;
  cursor: pointer;
  display: block;
}
.side-menu__btn:hover {
  background: #5f80f5;
  transition: 0.3s;
}
.side-menu__btn img {
  width: 40px;
  padding: 5px;
}
.side-menu__btn > div {
  font-size: 13px;
  color: #5f80f5;
}
.side-menu__btn.withdrawal {
  background: #5f80f5;
}
.side-menu__btn.withdrawal > div {
  color: #ffffff;
}

.bottom-menu {
  position: fixed;
  z-index: 999;
  bottom: 0px;
  width: 100%;
  max-width: 576px;
  background: #444444;
  border-top: solid 2px #116e50;
}
.bottom-menu__btns {
  display: flex;
  justify-content: space-between;
}
.bottom-menu__btn.active {
  background: #116e50;
}
.bottom-menu__btn.active > div {
  color: #d6dfef;
}
.bottom-menu__btn {
  text-align: center;
  padding: 5px;
  width: 20%;
}
.bottom-menu__btn:hover {
  background: #616161;
  transition: 0.3s;
}
.bottom-menu__btn img {
  width: 25px;
}
.bottom-menu__btn > div {
  color: #b4b6cc;
}

.modal-close {
  background: #146f50;
  font-weight: 700;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 13px;
  position: relative;
  position: absolute;
  right: -10px;
  top: -20px;
  z-index: 999;
  cursor: pointer;
}
.modal-content {
  width: 90%;
  height: 100%;
  max-height: 90vh;
  margin: auto;
  border: none;
  border-radius: 0px;
  background-color: #dddddd;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}
.modal-content__title {
  font-size: 20px;
  color: #5b5b5b;
  border-bottom: solid 1px #cecece;
}
.modal-content__content {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}
.modal .game-info {
  flex-direction: column;
  line-height: normal;
  background-color: transparent;
  border: none;
}
.modal .game-info__name {
  font-size: 16px;
}
.modal .game-info__team {
  font-size: 14px;
  color: #474747;
}
.modal .btn-group {
  border-top: 1px solid #cecece;
}
.modal-btn {
  cursor: pointer;
  padding: 12px 0px;
  background: #146f50;
  color: white;
  width: 100%;
  border: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
  margin: 0px !important;
  min-height: 48px;
  color: #474747;
  border-right: 1px solid #cecece;
}
.modal-btn:hover {
  color: white;
}
.modal-btn:last-child {
  border-right: 0px;
}
.modal-btn:hover {
  color: #54e5b5;
}
.modal-btn.-active {
  background-color: #54e5b5;
}
.modal-btn.-active:hover {
  color: white;
}
.modal .promotions-text,
.modal .announcement-text {
  max-height: 65vh;
  overflow: auto;
}
.modal .promotions-date,
.modal .announcement-date {
  font-size: 14px;
  color: #585858;
}
.modal .promotions-back-btn,
.modal .announcement-back-btn {
  cursor: pointer;
  padding: 12px 0px;
  background: #146f50;
  color: white;
  width: 80px;
  border: none;
  transition: 0.3s;
  text-align: center;
  margin: auto;
}
.modal .promotions-back-btn:hover,
.modal .announcement-back-btn:hover {
  color: white;
}
.modal.promotion .modal-content {
  background: #333333;
}
.modal.promotion .modal-btn {
  color: #e4e4e4;
}
.modal.promotion .promotions-title {
  color: #54e5b5;
  border-bottom: 1px solid #e4e4e4;
}
.modal.promotion .promotions-date {
  color: #e4e4e4;
}
.modal.promotion .promotions-text {
  color: #e4e4e4;
}
.modal-check-btn {
  cursor: pointer;
  padding: 12px 0px;
  background: #146f50;
  color: white;
  width: 100%;
  border: none;
  transition: 0.3s;
  font-size: 10px;
  padding: 8px 16px;
  border-radius: 0px;
  margin: 0px;
  white-space: nowrap;
}
.modal-check-btn:hover {
  color: white;
}
.modal .table-th {
  background: transparent;
  border: 1px solid #cecece;
  color: #474747;
  font-size: 14px;
}
.modal .table-td {
  background: transparent !important;
  border-bottom: 1px solid #cecece;
  color: #474747;
  font-size: 14px;
}
.modal-bet__info {
  background: #146f50;
  color: white;
  padding: 8px 5px;
}
.modal-bet__info span {
  color: #54e5b5;
}
.modal-bet__table {
  border-bottom: solid 1px #5f80f5;
}
.modal-bet__table input {
  font-size: 14px;
  border: none;
  background: #afafaf;
  color: #474747;
  font-weight: 600;
  text-align: center;
  padding: 5px 2px;
}
.modal-bet__table input::-moz-placeholder {
  color: #e4e4e4;
}
.modal-bet__table input::placeholder {
  color: #e4e4e4;
}
.modal-bet__table input:focus {
  outline: none;
}
.modal-bet__btns {
  position: relative;
}
.modal-bet__btns:after {
  content: '';
  position: absolute;
  top: -8px;
  left: 16%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #dddddd transparent;
}
.modal-bet__btn {
  width: 100%;
  color: #146f50;
  padding: 8px 0px;
  border: 1px solid #146f50;
  background: transparent;
}
.modal-bet__btn:hover {
  background: #146f50;
  color: white;
}

.promo-banner {
  overflow: hidden;
  max-height: 190px;
}
.promo-banner__img {
  display: block;
  width: 100%;
}

.announcement-lists {
  list-style: none;
}
.announcement-list {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.announcement-list:hover {
  background: #eee;
}
.announcement-list::before {
  position: absolute;
  left: -5px;
  font-size: 10px;
  content: '♦';
}
.announcement-list a {
  color: #484b61;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
} /*# sourceMappingURL=main.css.map */
