@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 576px;
  height: 100%;
  background-color: #ffffff;
}

.scroll-content {
  overflow-y: auto;
  height: 100%;
}
.scroll-content::-webkit-scrollbar {
  display: none;
}

.form-content {
  padding: 24px 15px;
}

.fa-ellipsis-h.more {
  color: #5f80f5;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-image: none;
  background-color: #edf2fb;
  font-family: 'Noto Sans TC', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div::-webkit-scrollbar {
  display: none; /* 不顯示滾動條 */
}

.container-fluid {
  max-width: 1500px;
}

a {
  text-decoration: none;
}

.color-lbp {
  color: #54e5b5;
}

.color-red {
  color: #e02323 !important;
}

.color-green {
  color: #54e5b5 !important;
}

.color-gray {
  color: #c3c3c3 !important;
}

.bg-dark-purple {
  background: #5f80f5 !important;
}

.text-red {
  color: #e12727 !important;
}

.btn-group {
  display: flex;
  width: 100%;
}
.btn-group .btn {
  flex: 1;
  width: auto;
  margin-right: 8px;
}
.btn-group .btn:last-child {
  margin-right: 0px;
}

.btn-tab {
  padding: 16px;
  border-bottom: 0px;
}
.btn-tab .btn {
  margin-right: 0px;
}

.btn-secondary {
  border: none;
  background-color: #f88600;
}
.btn-secondary:hover {
  background-color: #ffc540;
}

.btn-light-primary {
  color: #ffffff;
  background-color: rgba(56, 64, 255, 0.6);
}
.btn-light-primary.active {
  color: #ffffff;
  background-color: #3840ff;
}

.btn-ghost {
  color: #999999;
  border: 1px solid #f88600;
  background-color: transparent;
}

.btn-cancel {
  color: #333333;
  border-radius: 5px !important;
  background-color: #d4d4d4;
}

.btn-full {
  font-size: 16px;
  width: 100%;
  padding: 16px;
  border-radius: 1000px;
}

.breadcrumb-item a {
  color: #484b61;
}
.breadcrumb-item.active {
  font-weight: 600 !important;
  color: #5f80f5 !important;
}

.carousel {
  position: relative;
}
.carousel-indicators {
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
}
.carousel-indicators button {
  border-radius: 10px;
  width: 10px !important;
  height: 10px !important;
  background: #5f80f5 !important;
  border-bottom: solid 0px !important;
  border-top: solid 0px !important;
  opacity: 1 !important;
}
.carousel-indicators button.active {
  background: #eceef8 !important;
  border: solid 3px #5f80f5;
  border-bottom: solid 3px #5f80f5 !important;
  border-top: solid 3px #5f80f5 !important;
}
.carousel-btns {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: white;
  font-size: 30px;
}
.carousel-btns .fa-angle-left,
.carousel-btns .fa-angle-right {
  padding: 0px 5px;
  background: rgba(255, 255, 255, 0.3764705882);
}
.carousel-btns .fa-angle-left {
  margin: 0px 5px 15px 0px;
}
.carousel-btns .fa-angle-right {
  margin: 0px 15px 15px 5px;
}

.carousel-item {
  width: 85%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.banner-swiper {
  padding-left: 10px;
}
.banner-swiper .swiper-wrapper {
  padding-left: 10px;
}
.banner-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.banner-swiper .swiper-slide__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.productSwiper {
  height: 60%;
}
.productSwiper .swiper-slide {
  width: 100%;
}
.productSwiper .swiper-slide__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.productSwiper .swiper-pagination-wrap {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: flex;
  padding: 0px 10px;
}
.productSwiper .swiper-pagination {
  position: relative;
  width: auto;
  padding: 4px 10px;
  margin-left: auto;
  color: #616161;
  border-radius: 5px;
  background-color: #bdbdbd;
}

.banner {
  overflow: hidden;
  width: 100%;
  height: 185px;
  background-color: #000000;
}
.banner__img {
  display: block;
  width: 100%;
  height: 185px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #3840ff;
}
.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 16px;
  border-right: 0;
  text-align: center;
  text-decoration: none;
}
.tab__item .text {
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
.tab__item:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 2px;
  background-color: #515561;
}
.tab__item--active {
  background-color: #666cff;
}
.tab.-scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.tab.-scrollable .tab__item {
  width: 100%;
}
.tab.-scrollable .tab__item .text {
  white-space: nowrap;
}

.nav-pills {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-right: 10px;
  border-bottom: 1.2px solid #f0f0f0;
}
.nav-pills .nav-item {
  flex: none;
  padding: 0px 12px;
}
.nav-pills.fill .nav-item {
  flex: auto;
}
.nav-pills.fill .nav-link {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.nav-pills.fill .nav-link.active {
  font-weight: 600;
  color: #3840ff;
}
.nav-pills .nav-link {
  position: relative;
  padding: 8px 0px 12px 0px;
  font-size: 18px;
  font-weight: 600;
  color: #999999;
}
.nav-pills .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 3px;
  background-color: #3840ff;
}
.nav-pills .nav-link.active {
  color: #333333;
  background-color: transparent;
}
.nav-pills .nav-link.active::after {
  display: block;
}

.marquee {
  background-color: #333333;
}

.marquee-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 12px 16px;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #ffc540;
}

.breadcrumb-wrap {
  display: flex;
  align-items: center;
  min-height: 56px;
  padding: 10px;
}
.breadcrumb-wrap.-back {
  background-color: #3840ff;
}
.breadcrumb-wrap.-back .breadcrumb-item {
  color: #ffffff;
}
.breadcrumb-wrap.-back .breadcrumb-item a {
  color: #ffffff;
}
.breadcrumb-wrap.-back .breadcrumb-item::before {
  float: left;
  padding-left: 0.5rem;
  color: #ffffff;
  content: var(--bs-breadcrumb-divider, '/');
  transform: rotateY(180deg);
}
.breadcrumb-wrap.-gray {
  background-color: #f0f0f0;
}
.breadcrumb-wrap.-gray .breadcrumb-title {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.breadcrumb-wrap.-gray i {
  color: #000000;
}
.breadcrumb-wrap.-message {
  background-color: #f0f0f0;
}
.breadcrumb-wrap.-message .breadcrumb-title {
  color: #000000;
}

.breadcrumb {
  margin: 0px;
}

.breadcrumb-item {
  font-size: 14px;
  color: #333333;
}

.breadcrumb-lf {
  display: flex;
  align-items: center;
}
.breadcrumb-lf i {
  font-size: 18px;
  color: #f8f8f8;
}
.breadcrumb-lf .breadcrumb-title {
  padding-left: 16px;
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #f8f8f8;
}

.breadcrumb-rt {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.breadcrumb-rt .breadcrumb-text {
  margin: 0px;
  font-size: 14px;
  color: #ffffff;
}

.breadcrumb-wrap.-back + .product-evaluate {
  border-bottom: 0px;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 998;
  padding: 0px !important;
  width: 100%;
}
.header .text-end {
  flex-shrink: 0;
}
.header .navbar-toggler {
  border: none;
  width: 40px;
  z-index: 999 !important;
}
.header-logo {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999 !important;
  display: flex;
  align-items: center;
  margin-right: 0px;
  color: #5f80f5;
}
.header-logo img {
  width: auto;
  height: 70%;
}
.header-info {
  color: #5f80f5;
  font-size: 13px;
}
.header-login {
  right: 0px;
  color: #e0e2e1;
  line-height: 17px;
  font-size: 16px;
  font-weight: 500;
}
.header-login:hover {
  color: #5894ea;
}

.navbar-nav {
  flex-direction: row;
}
.navbar-nav .nav-item .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav .nav-item .nav-link__icon {
  width: 20px;
  margin-right: 16px;
}
.navbar-nav .nav-item .nav-link.search .nav-link__icon {
  display: none;
}
.navbar-nav .nav-item .nav-link.search .nav-link__icon:nth-child(2n) {
  display: block;
}
.navbar-nav .nav-item .nav-link.search.collapsed .nav-link__icon {
  display: block;
}
.navbar-nav .nav-item .nav-link.search.collapsed .nav-link__icon:nth-child(2n) {
  display: none;
}
.navbar-nav .nav-item:last-child .nav-link__icon {
  margin-right: 0px;
}

.header-wrap {
  position: sticky;
  top: 0px;
  z-index: 998;
  width: 100%;
  border-top: 10px solid #3840ff;
}
.header-wrap .navbar-brand {
  padding: 0px;
}
.header-wrap .navbar-brand__logo {
  height: 27px;
}
.header-wrap .collapse,
.header-wrap .collapsing {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333333;
}
.header-wrap .collapse .input-group,
.header-wrap .collapsing .input-group {
  padding: 0px 10px;
}
.header-wrap .collapse .form-control,
.header-wrap .collapsing .form-control {
  font-size: 14px;
  font-weight: 600;
  color: #999999;
  border: none;
  background-color: transparent;
}
.header-wrap .collapse .input-group-icon,
.header-wrap .collapsing .input-group-icon {
  display: flex;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.header-wrap .collapse .input-group-icon__img,
.header-wrap .collapsing .input-group-icon__img {
  width: 16px;
  height: 16px;
}
.header-wrap .collapse-content {
  padding: 10px;
}

.navbar {
  flex-wrap: nowrap;
  min-height: 70px;
  background-color: #ffffff;
}

.offcanvas {
  width: 80%;
}
.offcanvas .brand-logo {
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f1f1f1;
}
.offcanvas .brand-logo__img {
  display: block;
  width: 80%;
}

.offcanvas-body {
  padding: 16px 20px;
}
.offcanvas-body .menu-list {
  padding-left: 8px;
  list-style: none;
}
.offcanvas-body .menu-list__item {
  padding-bottom: 24px;
}
.offcanvas-body .menu-list__item .item-title {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}
.offcanvas-body .user-list {
  padding-top: 12px;
}
.offcanvas-body .user-list__item {
  padding-bottom: 8px;
  font-size: 14px;
  color: #333333;
}

.offcanvas-header .btn-close {
  margin-left: auto;
}

.offcanvas-footer {
  padding: 16px 20px;
  border-bottom: 1px solid #f1f1f1;
}
.offcanvas-footer .login-function {
  padding-left: 8px;
}
.offcanvas-footer .login-function__item {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.offcanvas-footer .login-function__item i {
  font-size: 16px;
  color: #333333;
}
.offcanvas-footer .login-function__item .item-title {
  padding-left: 8px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #333333;
}
.offcanvas-footer .login-function__item:last-child {
  padding-bottom: 0px;
}

.backtop-wrap {
  position: fixed;
  z-index: 998;
  right: 15px;
  bottom: 50px;
}

.backtop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f88600;
}
.backtop__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backtop__icon .icon-img {
  font-size: 14px;
  color: #ffffff;
}

.product {
  padding: 10px;
  padding-right: 0px;
}

.product-card {
  display: flex;
}
.product-card.-scrollable {
  overflow-x: auto;
}
.product-card.-scrollable .col {
  flex: none;
  width: 42%;
}
.product-card.-scrollable .col:last-child {
  margin-right: 0px;
}
.product-card .card {
  border: none;
  border-radius: 5px;
  box-shadow: 10px 24px 54px 0px rgba(15, 13, 35, 0.04);
}
.product-card .card-img {
  background-color: #ffffff;
}
.product-card .card-img-top {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.product-card .card-title {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.product-card .card-text {
  font-size: 16px;
  line-height: 18px;
  color: #e12727;
}

.product-title {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 6px;
  margin-bottom: 12px;
  border-bottom: 1.2px solid #f0f0f0;
}
.product-title__icon {
  width: 20px;
  height: 20px;
}
.product-title__icon .icon-img {
  display: block;
  width: 100%;
}
.product-title__text {
  padding-left: 8px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  color: #333333;
}

.product-info {
  padding: 16px 24px;
}
.product-info__title {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 700;
  color: #333333;
}
.product-info__price {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.product-info__price .price-text {
  margin: 0px;
  font-size: 28px;
  line-height: 1;
  color: #e12727;
}
.product-info__price .price-txt {
  padding-left: 4px;
  margin: 0px;
  font-size: 16px;
  line-height: 1;
  color: #999999;
  text-decoration: line-through;
}

.product-function {
  padding: 8px 24px;
}
.product-function__spec {
  margin-bottom: 10px;
}
.product-function .spec-title {
  margin-bottom: 8px;
  font-size: 14px;
  color: #000000;
}
.product-function .spec-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.product-function .spec-list__item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.product-function .spec-list__item .item-text {
  font-size: 14px;
  color: #717171;
  line-height: 21px;
}
.product-function .spec-list__item.active {
  border: 1px solid #000000;
}
.product-function__btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 16px;
}
.product-function__btn-group .btn {
  border-radius: 8px;
}
.product-function .btn-primary {
  width: 65%;
  border: 1px solid #f88600;
  background-color: #f88600;
}
.product-function .btn-secondary {
  color: #999999;
  border: 1px solid #999999;
  background-color: transparent;
}

.spec-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.spec-count__count {
  flex: none;
  width: calc(100% - 70px);
  height: 100%;
  text-align: center;
  padding: 4px;
  margin: 0px 4px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.spec-count .count-text {
  font-size: 14px;
  color: #666666;
}
.spec-count__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 50%;
  border: none;
}
.spec-count__btn.-minus {
  color: #999999;
  background-color: #f2f2f2;
}
.spec-count__btn.-plus {
  color: #ffffff;
  background-color: #d4d4d4;
}

.product-promo {
  padding: 16px;
}
.product-promo .promo-list {
  list-style: none;
  padding: 12px 0px;
  margin-bottom: 12px;
  border-top: 1px dashed #e8e8e8;
  border-bottom: 1px dashed #e8e8e8;
}
.product-promo .promo-list__item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 6px;
  border-radius: 5px;
  background-color: #d4d4d4;
}
.product-promo .promo-list__item .item-title {
  font-size: 14px;
  color: #333333;
}
.product-promo .promo-tag {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.product-promo .promo-tag__item {
  padding: 6px 10px;
}
.product-promo .promo-tag__item .item-title {
  font-size: 14px;
  color: #1685eb;
  line-height: 21px;
}

.evaluate {
  display: flex;
  align-items: center;
}
.evaluate .evaluate-icon {
  display: flex;
  width: 17px;
  height: 17px;
  font-size: 14px;
  color: #ffc540;
  margin-right: 4px;
}
.evaluate .evaluate-icon__img {
  display: block;
  width: 100%;
}
.evaluate .evaluate-text {
  font-size: 14px;
  color: #999999;
}

.product-evaluate {
  padding: 14px;
  border-bottom: 1px solid #e8e8e8;
}
.product-evaluate .evaluate-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #ffc540;
}
.product-evaluate .evaluate-text {
  color: #333333;
}

.evaluate-list {
  padding-top: 20px;
}
.evaluate-list__item {
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 10px 24px 54px 1px rgba(15, 13, 35, 0.1);
}
.evaluate-list .user-info {
  display: flex;
  padding-bottom: 16px;
}
.evaluate-list .user-info__user {
  display: flex;
}
.evaluate-list .user-info .user-img {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.evaluate-list .user-info .user-detail {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}
.evaluate-list .user-info .user-detail__name {
  font-size: 14px;
  margin: 0px;
}
.evaluate-list .user-info .user-detail__date {
  font-size: 12px;
  margin: 0px;
  margin-top: auto;
}
.evaluate-list .user-info .evaluate {
  align-items: flex-start;
  margin-left: auto;
}
.evaluate-list .user-info .evaluate-icon {
  width: 16px;
  height: 16px;
  font-size: 14px;
  color: #ffc540;
  margin-right: 0px;
}
.evaluate-list .user-feedback {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
.evaluate-list .vendor-feedback {
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.evaluate-list .vendor-feedback__title {
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.evaluate-list .vendor-feedback__text {
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.evaluate-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.evaluate-more__text {
  font-size: 14px;
  color: #333333;
}

.evaluate-range {
  padding-top: 16px;
}
.evaluate-range__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  padding: 8px;
  font-size: 14px;
  color: #333333;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
}
.evaluate-range__item .evaluate-icon {
  width: 16px;
  height: 16px;
  font-size: 14px;
  color: #ffc540;
  margin-right: 0px;
}
.evaluate-range .col:last-child .evaluate-range__item {
  border: none;
  background-color: #f0f0f0;
}

.product-editor {
  padding: 14px;
  word-wrap: break-word;
  word-break: break-all;
}
.product-editor h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 8px 0;
}
.product-editor hr {
  border: 0;
  margin: 0;
  height: 0px;
}
.product-editor p,
.product-editor div {
  font-size: 12px;
  line-height: 19px;
  margin-top: 0;
}
.product-editor p:last-child,
.product-editor div:last-child {
  margin-bottom: 0;
}
.product-editor img {
  width: 100%;
  display: block;
}

.sort-result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-height: 64px;
  background-color: #f8f8f8;
}
.sort-result__text {
  margin: 0px;
  font-size: 14px;
  color: #333333;
}

.sort-result + .product {
  padding: 10px;
  overflow: hidden;
}

.product-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 24px 0px;
}
.product-more__text {
  font-size: 14px;
  color: #999999;
}

.cart-all {
  display: flex;
  padding: 24px 20px;
  background-color: #f8f8f8;
}
.cart-all__rt {
  margin-left: auto;
}
.cart-all .delete-btn {
  font-size: 14px;
  color: #e12727;
  text-decoration: underline;
}

.form-check-label {
  font-size: 14px;
  color: #999999;
}

.form-check-input {
  width: 18px;
  height: 18px;
  border-radius: 6px;
}
.form-check-input:checked {
  background-color: #3840ff;
}

.cart-list__item {
  display: flex;
  align-items: center;
  padding: 24px 20px;
}
.cart-list .item-img {
  flex-shrink: 0;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-left: 12px;
  border-radius: 8px;
}
.cart-list .item-img__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cart-list .item-info {
  width: 100%;
  padding-left: 10px;
}
.cart-list .item-info__title {
  padding-bottom: 8px;
  margin: 0px;
  font-size: 16px;
  color: #333333;
}
.cart-list .item-info__text {
  padding-bottom: 4px;
  margin: 0px;
  font-size: 14px;
  color: #999999;
}
.cart-list .item-info__price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cart-list .item-info__price .price-text {
  font-size: 16px;
  margin: 0px;
  color: #e12727;
}
.cart-list .item-info__price .price-txt {
  padding-left: 4px;
  margin: 0px;
  font-size: 14px;
  color: #999999;
  text-decoration: line-through;
}

.cart + .product-promo .product-promo__title {
  margin: 0px;
  font-size: 14px;
  color: #999999;
}
.cart + .product-promo .promo-list {
  border-top: none;
}
.cart + .product-promo .promo-list__item {
  background-color: #f8f8f8;
}
.cart + .product-promo .promo-list__item .item-title {
  color: #02a64d;
}

.cart-detail {
  padding-bottom: 10px;
  border-bottom: 1px dashed #e8e8e8;
}
.cart-detail__title {
  padding-bottom: 8px;
  margin: 0px;
  font-size: 14px;
  color: #999999;
}
.cart-detail__item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.cart-detail .item-title,
.cart-detail .item-text {
  margin: 0px;
  font-size: 14px;
  color: #333333;
}
.cart-detail .item-text {
  margin-left: auto;
}

.cart-detail-total {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}
.cart-detail-total__title {
  margin: 0px;
  font-size: 14px;
  color: #333333;
}
.cart-detail-total__text {
  margin: 0px;
  margin-left: auto;
  font-size: 20px;
  color: #333333;
}

.cart-total {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 28px;
  background-color: #f8f8f8;
}
.cart-total__rt {
  margin-left: auto;
}
.cart-total__lf {
  display: flex;
  align-items: center;
}
.cart-total .total-title {
  margin: 0px;
  white-space: nowrap;
  font-size: 14px;
  color: #000000;
}
.cart-total .total-price {
  padding-left: 8px;
  margin: 0px;
  font-size: 20px;
  color: #e12727;
}
.cart-total .total-btn {
  padding: 16px 24px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 1000px;
  background-color: #f88600;
}

.stepper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}
.stepper-title__text {
  margin: 0px;
  font-size: 24px;
  color: #000000;
}
.stepper-title__count {
  font-size: 13px;
  color: #333333;
}

.step {
  flex: 1;
  margin-right: 16px;
}
.step:last-child {
  margin-right: 0px;
}
.step.active .step-line {
  background-color: #3840ff;
}
.step.active .bs-stepper-circle {
  color: #ffffff;
  background-color: #3840ff;
}
.step .cart-list {
  padding: 24px 0px;
}

.step-trigger {
  padding: 10px 0px;
}

.step-line {
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 16px;
  background-color: rgba(56, 64, 255, 0.5);
}

.bs-stepper-header {
  display: flex;
  width: 100%;
  padding: 12px 24px;
}

.bs-stepper-circle {
  width: 26px;
  height: 26px;
  padding: 0px;
  line-height: 24px;
  font-size: 12px;
  color: #3840ff;
  border-radius: 50%;
  border: 1px solid #3840ff;
  background-color: transparent;
}

.bs-stepper-label {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.bs-stepper .step-trigger:hover {
  background-color: transparent;
}

.bs-stepper-content {
  padding: 16px;
}

.form-group {
  padding-bottom: 24px;
  margin-bottom: 16px;
  border-bottom: 1px dashed #e8e8e8;
}
.form-group:first-child {
  border-bottom: 0px dashed #e8e8e8;
}
.form-group .form {
  padding: 16px 10px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
}
.form-group .form .terms {
  max-height: 50vh;
  overflow-y: auto;
  font-size: 14px;
  color: #333333;
}
.form-group .form .terms ul {
  padding-left: 20px;
}
.form-group .form .terms ol {
  padding-left: 0px;
}
.form-group .terms-link {
  color: #ffc540;
}
.form-group .form-control.-textarea {
  background-color: #f8f8f8;
}

.form-label {
  font-size: 14px;
  color: #333333;
}

.form-control {
  font-size: 14px;
  color: #333333;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.form-control.-textarea {
  height: auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  background-color: transparent;
}

.form-title {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.form-title__rt {
  margin-left: auto;
}
.form-title .form-text {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

@media (max-width: 520px) {
  .bs-stepper .step-trigger {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px 0px;
  }
  .bs-stepper-header {
    margin: 0px;
    text-align: left;
  }
  .bs-stepper-content {
    padding: 16px;
  }
}
.footer {
  padding: 60px 12px;
  background-color: #171717;
}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
.footer-brand__img {
  display: block;
  width: 80%;
}

.ins-link {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-bottom: 30px;
}
.ins-link__item {
  margin-right: 4px;
}
.ins-link__item:last-child {
  margin-right: 0px;
}
.ins-link__item .item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 0px;
  background-color: #282828;
}

.footer-desc {
  padding-bottom: 30px;
}
.footer-desc__text {
  font-size: 16px;
  color: #999999;
  margin: 0px;
}

.footer-link-group {
  display: flex;
}

.footer-link {
  flex: 1;
}
.footer-link__title {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-link .link-list {
  list-style: none;
  padding: 0px;
}
.footer-link .link-list__item {
  padding-bottom: 16px;
}
.footer-link .link-list__item .item-text {
  font-size: 16px;
  color: #999999;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  background: #000000;
}
.copyright__text {
  margin: 0px;
  font-size: 14px;
  color: #ffffff;
}

.empty {
  padding: 0px 16px;
}
.empty__img {
  display: block;
  width: 100%;
}

.modal-close {
  background: #146f50;
  font-weight: 700;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 13px;
  position: relative;
  position: absolute;
  right: -10px;
  top: -20px;
  z-index: 999;
  cursor: pointer;
}
.modal-content {
  width: 90%;
  height: 100%;
  max-height: 90vh;
  margin: auto;
  border: none;
  border-radius: 0px;
  background-color: #dddddd;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}
.modal-content__title {
  font-size: 20px;
  color: #5b5b5b;
  border-bottom: solid 1px #cecece;
}
.modal-content__content {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}
.modal .game-info {
  flex-direction: column;
  line-height: normal;
  background-color: transparent;
  border: none;
}
.modal .game-info__name {
  font-size: 16px;
}
.modal .game-info__team {
  font-size: 14px;
  color: #474747;
}
.modal .btn-group {
  border-top: 1px solid #cecece;
}
.modal-btn {
  cursor: pointer;
  padding: 12px 0px;
  background: #146f50;
  color: white;
  width: 100%;
  border: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
  margin: 0px !important;
  min-height: 48px;
  color: #474747;
  border-right: 1px solid #cecece;
}
.modal-btn:hover {
  color: white;
}
.modal-btn:last-child {
  border-right: 0px;
}
.modal-btn:hover {
  color: #54e5b5;
}
.modal-btn.-active {
  background-color: #54e5b5;
}
.modal-btn.-active:hover {
  color: white;
}
.modal .promotions-text,
.modal .announcement-text {
  max-height: 65vh;
  overflow: auto;
}
.modal .promotions-date,
.modal .announcement-date {
  font-size: 14px;
  color: #585858;
}
.modal .promotions-back-btn,
.modal .announcement-back-btn {
  cursor: pointer;
  padding: 12px 0px;
  background: #146f50;
  color: white;
  width: 80px;
  border: none;
  transition: 0.3s;
  text-align: center;
  margin: auto;
}
.modal .promotions-back-btn:hover,
.modal .announcement-back-btn:hover {
  color: white;
}
.modal.promotion .modal-content {
  background: #333333;
}
.modal.promotion .modal-btn {
  color: #e4e4e4;
}
.modal.promotion .promotions-title {
  color: #54e5b5;
  border-bottom: 1px solid #e4e4e4;
}
.modal.promotion .promotions-date {
  color: #e4e4e4;
}
.modal.promotion .promotions-text {
  color: #e4e4e4;
}
.modal-check-btn {
  cursor: pointer;
  padding: 12px 0px;
  background: #146f50;
  color: white;
  width: 100%;
  border: none;
  transition: 0.3s;
  font-size: 10px;
  padding: 8px 16px;
  border-radius: 0px;
  margin: 0px;
  white-space: nowrap;
}
.modal-check-btn:hover {
  color: white;
}
.modal .table-th {
  background: transparent;
  border: 1px solid #cecece;
  color: #474747;
  font-size: 14px;
}
.modal .table-td {
  background: transparent !important;
  border-bottom: 1px solid #cecece;
  color: #474747;
  font-size: 14px;
}
.modal-bet__info {
  background: #146f50;
  color: white;
  padding: 8px 5px;
}
.modal-bet__info span {
  color: #54e5b5;
}
.modal-bet__table {
  border-bottom: solid 1px #5f80f5;
}
.modal-bet__table input {
  font-size: 14px;
  border: none;
  background: #afafaf;
  color: #474747;
  font-weight: 600;
  text-align: center;
  padding: 5px 2px;
}
.modal-bet__table input::-moz-placeholder {
  color: #e4e4e4;
}
.modal-bet__table input::placeholder {
  color: #e4e4e4;
}
.modal-bet__table input:focus {
  outline: none;
}
.modal-bet__btns {
  position: relative;
}
.modal-bet__btns:after {
  content: '';
  position: absolute;
  top: -8px;
  left: 16%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #dddddd transparent;
}
.modal-bet__btn {
  width: 100%;
  color: #146f50;
  padding: 8px 0px;
  border: 1px solid #146f50;
  background: transparent;
}
.modal-bet__btn:hover {
  background: #146f50;
  color: white;
}

.promo-banner {
  overflow: hidden;
  max-height: 190px;
}
.promo-banner__img {
  display: block;
  width: 100%;
}

.announcement-lists {
  list-style: none;
}
.announcement-list {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.announcement-list:hover {
  background: #eee;
}
.announcement-list::before {
  position: absolute;
  left: -5px;
  font-size: 10px;
  content: '♦';
}
.announcement-list a {
  color: #484b61;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.message {
  display: flex;
  width: 100%;
  height: 100vh;
}

.message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin: auto;
}

.message-img {
  display: block;
  width: 65%;
}

.message-title {
  padding-top: 24px;
}
.message-title__text {
  margin: 0px;
  font-size: 24px;
  color: #333333;
}

.message-desc {
  padding-top: 16px;
}
.message-desc__text {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  color: #999999;
}

.tab-pane .form-group {
  padding: 16px;
}
.tab-pane .btn-group {
  padding: 0px 16px;
}

.member-nav + .tab-content {
  padding-bottom: 28px;
}

.order {
  padding: 0px 16px;
}
.order .date-filter {
  padding-bottom: 10px;
}

.date-filter {
  flex-wrap: nowrap;
}
.date-filter .col:nth-child(2n) {
  flex: 0;
  padding: 0px;
}

.order-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.order-list__item {
  padding: 24px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
}
.order-list__item:last-child {
  margin-bottom: 0px;
}
.order-list__item .item-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.order-list__item .item-info__title {
  font-size: 16px;
  color: #121212;
}
.order-list__item .item-info__result {
  max-width: 60%;
  text-align: right;
  color: #333333;
}
.order-list__item .item-info__result a {
  color: #3840ff;
  text-decoration: underline;
}
.order-list__item .item-info:last-child {
  padding-bottom: 0px;
}

.order-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 16px;
}
.order-more__text {
  font-size: 14px;
  color: #999999;
}

.order-detail {
  padding: 10px 15px;
}

.order-list + .order-collapse {
  margin-top: 8px;
}

.order-collapse {
  overflow: hidden;
  border-radius: 8px;
}

.accordion {
  margin-top: 10px;
}

.accordion-item {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
}
.accordion-item:first-of-type {
  border-radius: 8px;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: unset;
}
.accordion-item:last-of-type {
  border-radius: 8px;
}
.accordion-item:last-of-type .accordion-button {
  border-radius: unset;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
}

.accordion-button {
  color: #121212;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  padding: 8px 20px;
}
.accordion-button::after {
  background-image: url('../images/icon_caret-down-solid.svg');
  background-size: contain;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f0f0f0;
  color: #121212;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('../images/icon_caret-down-solid.svg');
}
.accordion-button:focus {
  border-color: transparent;
}

.hr-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.hr-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #e8e8e8;
}
.hr-list__item:first-child {
  padding-top: 0px;
}
.hr-list__item:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}
.hr-list .item-title {
  margin: 0px;
  font-size: 16px;
  color: #121212;
}
.hr-list .item-result {
  font-size: 16px;
  color: #333333;
}

.accordion-body .cart-list__item {
  padding: 24px 0px;
}
.accordion-body .cart-list .item-img {
  margin-left: 0px;
}

.cancel-btn {
  padding: 10px 16px 24px;
  background-color: #f0f0f0;
}

.return {
  padding: 16px;
}

.return-info {
  color: #d4d4d4;
  padding: 16px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  background-color: #333333;
}
.return-info__title {
  text-align: center;
  font-size: 16px;
  color: #d4d4d4;
  margin-bottom: 12px;
}
.return-info ol {
  padding-left: 18px;
  font-size: 14px;
}
.return-info ol li {
  padding-bottom: 16px;
}
.return-info ol ul {
  list-style: disc;
  padding-left: 16px;
}
.return-info ol ul li {
  padding-bottom: 0px;
}
.return-info hr {
  color: #e8e8e8;
}
.return-info p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 4px;
}

.return + .btn-group {
  padding: 0px 16px;
} /*# sourceMappingURL=main.css.map */
