.backtop-wrap {
  position: fixed;
  z-index: 998;
  right: 15px;
  bottom: 50px;
}
.backtop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondary;
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-img {
      font-size: 14px;
      color: $white;
    }
  }
}
