.bottom {
  &-menu {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    width: 100%;
    max-width: 576px;
    background: #444444;
    border-top: solid 2px #116e50;
    &__btns {
      display: flex;
      justify-content: space-between;
    }
    &__btn.active {
      background: #116e50;
      > div {
        color: #d6dfef;
      }
    }
    &__btn {
      text-align: center;
      padding: 5px;
      width: calc(100% / 5);
      &:hover {
        background: #616161;
        transition: 0.3s;
      }
      img {
        width: 25px;
      }
      > div {
        color: #b4b6cc;
      }
    }
  }
}
