.breadcrumb-wrap {
  display: flex;
  align-items: center;
  min-height: 56px;
  padding: 10px;
  &.-back {
    background-color: $primary;
    .breadcrumb-item {
      color: $white;
      a {
        color: $white;
      }
      &::before {
        float: left;
        padding-left: 0.5rem;
        color: $white;
        content: var(--bs-breadcrumb-divider, '/');
        transform: rotateY(180deg);
      }
    }
  }
  &.-gray {
    background-color: $line-gray;
    .breadcrumb-title {
      font-size: 16px;
      font-weight: 400;
      color: $black;
    }
    i {
      color: $black;
    }
  }
  &.-message {
    background-color: $line-gray;
    .breadcrumb-title {
      color: $black;
    }
  }
}
.breadcrumb {
  margin: 0px;
}
.breadcrumb-item {
  font-size: 14px;
  color: $dark-gray;
}
.breadcrumb-lf {
  display: flex;
  align-items: center;
  i {
    font-size: 18px;
    color: $bg-gray;
  }
  .breadcrumb-title {
    padding-left: 16px;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    color: $bg-gray;
  }
}
.breadcrumb-rt {
  margin-left: auto;
  display: flex;
  align-items: center;
  .breadcrumb-text {
    margin: 0px;
    font-size: 14px;
    color: $white;
  }
}
.breadcrumb-wrap.-back + .product-evaluate {
  border-bottom: 0px;
}
