.cart-all {
  display: flex;
  padding: 24px 20px;
  background-color: $bg-gray;
  &__rt {
    margin-left: auto;
  }
  .delete-btn {
    font-size: 14px;
    color: $danger;
    text-decoration: underline;
  }
}
.form-check-label {
  font-size: 14px;
  color: $icon-gray;
}
.form-check-input {
  width: 18px;
  height: 18px;
  border-radius: 6px;
  &:checked {
    background-color: $primary;
  }
}
.cart-list {
  &__item {
    display: flex;
    align-items: center;
    padding: 24px 20px;
  }
  .item-img {
    flex-shrink: 0;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-left: 12px;
    border-radius: 8px;
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item-info {
    width: 100%;
    padding-left: 10px;
    &__title {
      padding-bottom: 8px;
      margin: 0px;
      font-size: 16px;
      color: $dark-gray;
    }
    &__text {
      padding-bottom: 4px;
      margin: 0px;
      font-size: 14px;
      color: $icon-gray;
    }
    &__price {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .price-text {
        font-size: 16px;
        margin: 0px;
        color: $danger;
      }
      .price-txt {
        padding-left: 4px;
        margin: 0px;
        font-size: 14px;
        color: $icon-gray;
        text-decoration: line-through;
      }
    }
  }
}
.cart + .product-promo {
  .product-promo__title {
    margin: 0px;
    font-size: 14px;
    color: $icon-gray;
  }
  .promo-list {
    border-top: none;
    &__item {
      background-color: $bg-gray;
      .item-title {
        color: $success;
      }
      .item-btn {
        margin-left: auto;
        font-size: 14px;
        color: #f53f6b;
        text-decoration: underline;
      }
      .item-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &__input {
          flex: 1;
          margin-right: 6px;
        }
        &__btn {
          display: flex;
          justify-content: flex-end;
        }
      }
      &.-form {
        background-color: transparent;
        padding: 0px;
        .form-control {
          height: 40px;
        }

        .btn {
          line-height: 1;
          padding: 12px 16px;
          font-size: 16px;
        }
      }
    }
  }
}
.cart-detail {
  padding-bottom: 10px;
  border-bottom: 1px dashed #e8e8e8;
  &__title {
    padding-bottom: 8px;
    margin: 0px;
    font-size: 14px;
    color: $icon-gray;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
  }
  .item-title,
  .item-text {
    margin: 0px;
    font-size: 14px;
    color: $dark-gray;
  }
  .item-text {
    margin-left: auto;
  }
}
.cart-detail-total {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  &__title {
    margin: 0px;
    font-size: 14px;
    color: $dark-gray;
  }
  &__text {
    margin: 0px;
    margin-left: auto;
    font-size: 20px;
    color: $dark-gray;
  }
}

.cart-total {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 28px;
  background-color: $bg-gray;
  &__rt {
    margin-left: auto;
  }
  &__lf {
    display: flex;
    align-items: center;
  }
  .total-title {
    margin: 0px;
    white-space: nowrap;
    font-size: 14px;
    color: $black;
  }
  .total-price {
    padding-left: 8px;
    margin: 0px;
    font-size: 20px;
    color: $danger;
  }
  .total-btn {
    padding: 16px 24px;
    font-size: 16px;
    color: $white;
    border-radius: 1000px;
    background-color: $secondary;
  }
}
