$primary: #3840ff;
$primary-light: rgba(56, 64, 255, 0.5);
$secondary: #f88600;
$secondary-light: #ffc540;
$danger: #e12727;
$bg-gray: #f8f8f8;
$light-gray: #d4d4d4;
$dark-gray: #333333;
$line-gray: #f0f0f0;
$icon-gray: #999999;
$white: #ffffff;
$black: #000000;
