.header {
  position: sticky;
  top: 0px;
  z-index: 998;
  padding: 0px !important;
  width: 100%;
  .text-end {
    flex-shrink: 0;
  }
  .navbar-toggler {
    border: none;
    width: 40px;
    z-index: 999 !important;
  } // .navbar-toggler.back
  &-logo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999 !important;
    display: flex;
    align-items: center;
    margin-right: 0px;
    color: $dark-purple;
    img {
      width: auto;
      height: 70%;
    }
  }
  &-info {
    color: $middle-purple;
    font-size: 13px;
  }
  &-login {
    right: 0px;
    color: #e0e2e1;
    line-height: 17px;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      color: $blue-purple;
    }
  }
}
.navbar-nav {
  flex-direction: row;
  .nav-item {
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      &__icon {
        width: 20px;
        margin-right: 16px;
      }
      &.search {
        .nav-link__icon {
          display: none;
          &:nth-child(2n) {
            display: block;
          }
        }
        &.collapsed {
          .nav-link__icon {
            display: block;
            &:nth-child(2n) {
              display: none;
            }
          }
        }
      }
    }
    &:last-child {
      .nav-link {
        &__icon {
          margin-right: 0px;
        }
      }
    }
  }
}
.header-wrap {
  position: sticky;
  top: 0px;
  z-index: 998;
  width: 100%;
  border-top: 10px solid $primary;
  .navbar-brand {
    padding: 0px;
    &__logo {
      height: 27px;
    }
  }
  .collapse,
  .collapsing {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $dark-gray;
    .input-group {
      padding: 0px 10px;
    }
    .form-control {
      font-size: 14px;
      font-weight: 600;
      color: $icon-gray;
      border: none;
      background-color: transparent;
    }
    .input-group-icon {
      display: flex;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      border: none;
      &__img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .collapse-content {
    padding: 10px;
  }
}
.navbar {
  flex-wrap: nowrap;
  min-height: 70px;
  background-color: $white;
}
.offcanvas {
  width: 80%;
  .brand-logo {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #f1f1f1;
    &__img {
      display: block;
      width: 80%;
    }
  }
}
.offcanvas-body {
  padding: 16px 20px;
  .menu-list {
    padding-left: 8px;
    list-style: none;
    &__item {
      padding-bottom: 24px;
      .item-title {
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: 600;
        color: $dark-gray;
      }
    }
  }
  .user-list {
    padding-top: 12px;
    &__item {
      padding-bottom: 8px;
      font-size: 14px;
      color: $dark-gray;
    }
  }
}
.offcanvas-header {
  .btn-close {
    margin-left: auto;
  }
}
.offcanvas-footer {
  padding: 16px 20px;
  border-bottom: 1px solid #f1f1f1;
  .login-function {
    padding-left: 8px;
    &__item {
      display: flex;
      align-items: center;
      padding-bottom: 16px;
      i {
        font-size: 16px;
        color: $dark-gray;
      }
      .item-title {
        padding-left: 8px;
        margin-bottom: 0px;
        font-size: 16px;
        color: $dark-gray;
      }
      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}
