.header {
  position: sticky;
  top: 0px;
  z-index: 998;
  padding: 0px !important;
  width: 100%;
  .text-end {
    flex-shrink: 0;
  }
  .navbar-toggler {
    border: none;
    width: 40px;
    z-index: 999 !important;
  } // .navbar-toggler.back
  &-logo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999 !important;
    display: flex;
    align-items: center;
    margin-right: 0px;
    color: $dark-purple;
    img {
      width: auto;
      height: 70%;
    }
  }
  &-info {
    color: $middle-purple;
    font-size: 13px;
  }
  &-login {
    right: 0px;
    color: #e0e2e1;
    line-height: 17px;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      color: $blue-purple;
    }
  }
}
.navbar-nav {
  flex-direction: row;
  .nav-item {
    .nav-link {
      &__icon {
        width: 20px;
        margin-right: 16px;
      }
    }
    &:last-child {
      .nav-link {
        &__icon {
          margin-right: 0px;
        }
      }
    }
  }
}
.header-wrap {
  position: sticky;
  top: 0px;
  z-index: 998;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  min-height: 80px;
  border-top: 10px solid $primary;
  background: $white;
  .navbar-brand {
    padding: 0px;
    &__logo {
      height: 27px;
    }
  }
}
.offcanvas-backdrop {
  top: 62px;
}
.offcanvas {
  position: absolute;
  background: #383838;
  max-width: 150px;
  top: 62px;
  * {
    color: $light-purple;
  }
  .nav-item ~ .nav-item {
    border-top: solid 1px #b5b5b5;
  }
  .nav-item {
    &:hover,
    .nav-link.active {
      color: #ffdf1b !important;
    }
  }
  .nav-link {
    color: #c3c3c3;
    padding: 10px 0px !important;
    text-align: center !important;
    &:hover {
      color: #c3c3c3;
    }
  }
}
.navbar {
  flex-wrap: nowrap;
}
