.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 576px;
  height: 100%;
  background-color: $white;
}
.scroll-content {
  overflow-y: auto;
  height: 100%;
  div {
    /* 不顯示滾動條 */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.form-content {
  padding: 24px 15px;
}
