.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 576px;
  height: 100%;
  background-color: $bg-gray;
}
.scroll-content {
  overflow-y: auto;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
