.tab-pane {
  .form-group {
    padding: 16px;
  }
  .btn-group {
    padding: 0px 16px;
  }
}
.member-nav + .tab-content {
  padding-bottom: 28px;
}
.order {
  padding: 0px 16px;
  .date-filter {
    padding-bottom: 10px;
  }
}
.date-filter {
  flex-wrap: nowrap;
  .col {
    &:nth-child(2n) {
      flex: 0;
      padding: 0px;
    }
  }
}
.order-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  &__item {
    padding: 24px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid $light_gray;
    &:last-child {
      margin-bottom: 0px;
    }
    .item-info {
      display: flex;
      justify-content: space-between;
      padding-bottom: 8px;
      &__title {
        font-size: 16px;
        color: #121212;
      }
      &__result {
        max-width: 60%;
        text-align: right;
        color: $dark-gray;
        a {
          color: $primary;
          text-decoration: underline;
        }
      }
      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}
.order-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 16px;
  &__text {
    font-size: 14px;
    color: $icon-gray;
  }
}
.order-detail {
  padding: 10px 15px;
}
.order-list + .order-collapse {
  margin-top: 8px;
}
.order-collapse {
  overflow: hidden;
  border-radius: 8px;
}
.collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $line-gray;
  padding: 8px 20px;
  &__title {
    font-size: 16px;
    color: #121212;
  }
  i {
    color: #121212;
  }
}
