.nav-pills {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-right: 10px;
  border-bottom: 1.2px solid $line-gray;
  .nav-item {
    flex: none;
    padding: 0px 12px;
  }
  .nav-link {
    position: relative;
    padding: 8px 0px 12px 0px;
    font-size: 18px;
    font-weight: 600;
    color: $icon-gray;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: none;
      width: 100%;
      height: 3px;
      background-color: $primary;
    }
    &.active {
      color: $dark-gray;
      background-color: transparent;
      &::after {
        display: block;
      }
    }
  }
}
