<div class="bottom-menu d-block">
  <div class="bottom-menu__btns">
    <!-- 當前頁面加入 active -->
    <a href="index.html" class="bottom-menu__btn active">
      <img src="images/icon_side-home.png" alt="">
      <div>首页</div>
    </a>
    <a href="" class="bottom-menu__btn">
      <img src="images/icon_side-service.png" alt="">
      <div>线上客服</div>
    </a>
    <a href="market-list.html" class="bottom-menu__btn">
      <img src="images/icon_side-list.png" alt="">
      <div>市场列表</div>
    </a>
    <a href="investment-invest-record.html" class="bottom-menu__btn">
      <img src="images/icon_side-history.png" alt="">
      <div>投资记录</div>
    </a>
    <a href="match.html" class="bottom-menu__btn">
      <img src="images/icon_side-result.png" alt="">
      <div>赛事结果</div>
    </a>
  </div>
</div>