<a class="navbar-brand header-logo" href="index.html">
  <img src="images/header_logo.png" alt="">
</a>




<nav class="navbar header">
  <div class="container-fluid position-relative px-1">
    <img class="navbar-toggler p-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" src="images/menu-btn.png" alt="">

    <!-- 有些頁面是要顯示返回圖示按鈕 -->
    <!-- <img class="navbar-toggler p-0" src="images/back.png" alt="" onclick="javascript:history.back();"> -->
  </div>



  <!-- Login button -->
  <a class="nav-link header-login py-0" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>

  <!-- Login info & Log out button -->
  <!-- <div class="text-end">
      <div class="d-sm-block d-none p-2">Log out</div>
      <a class="nav-link header-login text-end py-0 d-blck pe-2" href="#">
        Hi, Ann!
        <br class="d-sm-none d-blck">
        歡迎來到UCENGO平台
      </a>
    </div> -->
  </div>
</nav>