<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-body justify-content-between align-items-center p-0">
    <div class="flex-column">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-blck">
          <a class="nav-link px-2 pb-0" href="account.html">中心钱包</a>
        </li>
        <li class="nav-item">
          <!-- 被選取項目加入 active -->
          <a class="nav-link active px-2 pb-0" href="market.html">市场列表</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="investment.html">交易明細</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="investment-invest-record.html">投资记录</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="match.html">赛事结果</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="trade.html">存提纪录</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="history.html">历史账务</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="immediate.html">即時比分</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="promotions.html">优惠活动</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="announcement.html">最新消息</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="mobile-account-app.html">APP下载</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="rule.html">规则条款</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="mobile-help.html">帮助中心</a>
        </li>
        <li class="nav-item d-block">
          <a class="nav-link px-2 pb-0" href="">登出</a>
        </li>
      </ul>
    </div>
  </div>