<nav class="navbar navbar-light w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img src="./images/logo.png" alt="" class="navbar-brand__logo">
    </a>
    <div class="d-flex ms-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link search collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <img src="./images/icon_search.png" alt="" class="nav-link__icon">
            <img src="./images/icon_x.png" alt="" class="nav-link__icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cart.html">
            <img src="./images/icon_shopping-cart-non.png" alt="" class="nav-link__icon">
            <img src="./images/icon_shopping-cart.png" alt="" class="nav-link__icon" style="display:none;">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <img src="./images/icon_menu.png" alt="" class="nav-link__icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="collapse" id="collapseExample">
  <div class="collapse-content">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字">
      <button class="input-group-icon" type="button">
        <img src="./images/icon_seach_gray.png" alt="" class="input-group-icon__img">
      </button>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="brand-logo">
      <img src="./images/logo.png" alt="" class="brand-logo__img">
    </div>
    <div class="menu-list-wrap">
      <ul class="menu-list">
        <li class="menu-list__item">
          <p class="item-title">目前使用：IRIS 鏈</p>
          <ul class="user-list">
            <li class="user-list__item">IRIS</li>
            <li class="user-list__item">AMY</li>
          </ul>
        </li>
        <li class="menu-list__item">
          <a href="#" class="item-title">常見問題</a>
        </li>
        <li class="menu-list__item">
          <a href="cart.html" class="item-title">購物車</a>
        </li>
        <li class="menu-list__item">
          <a href="contact.html" class="item-title">聯絡我們</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="offcanvas-footer">
    <div class="login-function">
      <div class="login-function__item">
        <i class="fas fa-user"></i>
        <p class="item-title">會員中心</p>
      </div>
      <div class="login-function__item">
        <i class="fa-regular fa-user"></i>
        <p class="item-title">會員登入</p>
      </div>
    </div>
  </div>
</div>