<div class="side-menu d-sm-block d-none">
  <div class="side-menu__btns text-center">
    <a href="announcement.html" class="side-menu__btn">
      <img src="images/icon_side-ann.png" alt="">
      <div>网站公告</div>
    </a>
    <a href="" class="side-menu__btn">
      <img src="images/icon_side-contact.png" alt="">
      <div>线上客服</div>
    </a>
    <a href="help.html" class="side-menu__btn">
      <img src="images/icon_side-download.png" alt="">
      <div>APP下载</div>
    </a>
    <a href="account.html" class="side-menu__btn">
      <img src="images/icon_side-balance.png" alt="">
      <div>帐户金额</div>
    </a>
    <a href="recharge.html" class="side-menu__btn withdrawal">
      <img src="images/icon_side-withdrawal.png" alt="">
      <div>充值提现</div>
    </a>
  </div>
</div>